pandas==2.0.3
seaborn>=0.13.0
numpy>=1.26.0
xgboost>=2.0.0
lightgbm==3.3.2
catboost==1.2.2
scikit-learn==1.2.2
fastparquet>=2023.8.0
ray[tune]>=2.7.0
optuna>=3.3.0
optuna-dashboard>=0.12.0
loguru>=0.7.2
nbformat>=5.9.2
numba>=0.58.1
numexpr>=2.8.7